<div class="row">
  <div class="col-3">
    <select class="form-select" aria-label="Default select example" #marcaSelect>
      <option selected value="0">Marca</option>
  <!--       <option *ngFor="let marca of marcas" [value]="marca.Marca">{{marca.Marca}}</option>
  -->    </select>
  </div>
  <div class="col-3">
    <select class="form-select"   aria-label="Default select example" #medidaSelect>
      <option selected value="0">Medida</option>
    <!--   <option *ngFor="let medida of medidas" [value]="medida.medida">{{medida.medida}}</option> -->
    </select>
  </div>
  <div class="col-3 p-0">
    <input type="text" class="form-control" #searchInput >
  
  </div>
  <div class="col-3">
  <!--       <button type="button" class="btn btn-warning" (click)="searchProduct(marcaSelect.value,medidaSelect.value,searchInput.value)">Buscar</button>
  -->
  </div>
</div>
